BasedOnStyle: Microsoft
Language: Cpp
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
DerivePointerAlignment: false
AlignEscapedNewlines: Right
PointerAlignment: Left
AlignAfterOpenBracket: true
AlignConsecutiveMacros: true
AlignOperands: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
AllowAllArgumentsOnNextLine: true
BreakStringLiterals: true
IncludeBlocks: Merge
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
SpaceBeforeAssignmentOperators: true
SpacesInCStyleCastParentheses: false
BreakConstructorInitializers: AfterColon 
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
BreakBeforeBraces: Linux
IndentWidth: 4
ColumnLimit: 120
UseTab: ForIndentation
